<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3GPTesting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">

</head>
<body>
    <div id="all_options" >
        <table>
            <tr>
                <td>
                    <label for="color">Color de fondo:</label>
                    <input type="color" id="color" value="#f0f0f0">
                </td>
                <td>
                    <label for="fontSize">Tamaño de fuente:</label>
                    <select id="fontSize">
                        <option value="16px">Pequeño</option>
                        <option value="22px">Mediano</option>
                        <option value="28px">Grande</option>
                        <option value="34px">Muy Grande</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="color">Color de fuente:</label>
                    <input type="color" id="fontcolor" value="#000000">
                </td>
                <td>
                    <label for="color">Color de fondo del tutorial:</label>
                    <input type="color" id="tutorialbgcolor" value="#ffffff">
                </td>
            </tr>
        </table>
        <!--<div id="options_a">
            <label for="color">Color de fondo:</label>
            <input type="color" id="color" value="#f0f0f0">
        
            <label for="fontSize">Tamaño de fuente:</label>
            <select id="fontSize">
                <option value="16px">Pequeño</option>
                <option value="20px">Mediano</option>
                <option value="24px">Grande</option>
                <option value="28px">Muy Grande</option>
            </select>
        </div>
        <div id="options_b">
            <label for="color">Color de fuente:</label>
            <input type="color" id="fontcolor" value="#000000">

            <label for="color">Color de fondo del tutorial:</label>
            <input type="color" id="tutorialbgcolor" value="#ffffff">
        </div>-->
    </div>

    <div class="container">
        <div id="chat" class="main-content">
            <div id="mensajes"></div>
            <div id="loading-icon" style="display: none;">
                <img src="https://raw.githubusercontent.com/Codelessly/FlutterLoadingGIFs/master/packages/circular_progress_indicator_small.gif" 
                alt="Loading..." style="width: 40%; height: 40%;"> 
            </div>
            <textarea id="mensaje" rows="6" cols="120"></textarea>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div id="loading"></div>
            <button id="enviar">Enviar</button>
        </div>
        <div class="floating-window">
            <h2>Tutorial</h2>
            <p>{{ tutorial | linebreaks }}</p>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.onbeforeunload = function () {
            $('#mensaje').val('');
        };

        $(document).ready(function() {
            var csrf_token = $("input[name=csrfmiddlewaretoken]").val();

            $('#color').val('#f0f0f0');
            $('#fontSize').val($('#fontSize option:first').val());
            $('#fontcolor').val('#000000');
            $('#tutorialbgcolor').val('#ffffff');

            // Función para aplicar cambios de estilo
            function aplicarEstilos(color, fontSize, fontcolor, tutorialbgcolor) {
                $('body, html').css({
                    'background-color': color,
                    'font-size': fontSize,
                    'color': fontcolor
                });
                $('.floating-window').css({
                    'background-color': tutorialbgcolor
                });

                $('table').css({
                    'background-color': tutorialbgcolor,
                    'border-color': tutorialbgcolor
                });

                // Modificar el tamaño del botón y del select
                $('#enviar, #fontSize').css('font-size', fontSize);


                $('#mensaje').css({
                    'font-size': fontSize,
                    'width': '100%'
                });
            }

            // Capturar cambios en el color de fondo
            $('#color').change(function() {
                var nuevoColor = $(this).val();
                aplicarEstilos(nuevoColor, 
                $('#fontSize').val(), $('#fontcolor').val(), $('#tutorialbgcolor').val());
            });

            // Capturar cambios en el tamaño de fuente
            $('#fontSize').change(function() {
                var nuevoFontSize = $(this).val();
                aplicarEstilos($('#color').val(), 
                nuevoFontSize, $('#fontcolor').val(), $('#tutorialbgcolor').val());

            });

            // Capturar cambios en el color de fuente
            $('#fontcolor').change(function() {
                var nuevoFontColor = $(this).val();
                aplicarEstilos($('#color').val(), 
                $('#fontSize').val() , nuevoFontColor, $('#tutorialbgcolor').val());
            });

            // Capturar cambios en el color de fondo del tutorial
            $('#tutorialbgcolor').change(function() {
                var nuevotutorialbgcolor = $(this).val();
                aplicarEstilos($('#color').val(), 
                $('#fontSize').val() , $('#fontcolor').val(),nuevotutorialbgcolor );
            });
            
            function mostrarLoading() {
                $('#loading-icon').show();
            }

            function ocultarLoading() {
                $('#loading-icon').hide();
            }

            function cargarMensajes() {
               $.ajax({
                    url: '/recuperar_mensajes/',
                    method: 'GET',
                    success: function(data) {
                        $('#mensajes').empty();
                        data.forEach(function(mensaje) {
                            $('#mensajes')
                            .append('<p><br>' + '<u><b>' + mensaje.fecha + '</b></u>'
                                + '<br>' + '<b><i>' + mensaje.mensaje + '</i></b>'
                                + '<br>' + mensaje.respuesta + '</p>');
                        })
                        $('#enviar').prop('disabled', false);
                        $('#mensaje').prop('disabled', false);
                        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                    }
                });
            }
            
            $('#enviar').click(function() {
                enviarMensaje();
            });

            $('#mensaje').keydown(function(e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // Evitar que el formulario se envíe automáticamente
                    enviarMensaje();
                }
            });

            function enviarMensaje() {
                var contenido = $('#mensaje').val();

                if (contenido.trim() !== '') {
                    mostrarLoading(); // Mostrar el icono de carga
                    $('#enviar').prop('disabled', true);
                    $('#mensaje').val('Procesando, espere por favor. Si la respuesta demora bastante, recarge esta página.');
                    $('#mensaje').prop('disabled', true); 
                    $.ajax({
                    url: '/enviar_mensaje/',
                    method: 'POST',
                    data: {
                        'contenido': contenido,                 
                        'csrfmiddlewaretoken': csrf_token,
                    },
                    success: function(data) {
                        cargarMensajes();
                        ocultarLoading(); // Ocultar el icono de carga después de la respuesta
                        $('#mensaje').val(''); 
                    }
                });
                }
            }
            cargarMensajes();
        });
    </script>
</body>
</html>
