body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

table {
    margin-top: 20px; 
    margin-left: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-width: 10px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    border-color: #fff; /* Color del borde */
}

.container {
    display: flex;
    min-width: 100%
}

.main-content {
    flex: 1;
    padding: 20px;
}

.floating-window {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
    max-height: 200;
    max-height: 80vh; /* Altura máxima del 80% del viewport height */
    overflow-y: auto; /* Añade scrollbar vertical si es necesario */
}

.main-content h1,
.main-content p {
    text-align: left; 
    max-width: 50%;
}

#mensaje {
    max-width: 50%;
}

