body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

.container {
    display: flex;
    min-width: 100%
}

.main-content {
    flex: 1;
    padding: 20px;
}

.floating-window {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.main-content h1,
.main-content p {
    text-align: left; 
    max-width: 50%;
}

#mensaje {
    max-width: 50%;
}

